.btn-blue {
  background-color: #0e6cff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
}

.btn-orange {
  background-color: #ff8700;
  color: white;
  
}

.btn-green {
  background-color: #4caf50;
  color: white;
}
